# SPDX-FileCopyrightText: 2015-2025 Alexey Rochev
#
# SPDX-License-Identifier: CC0-1.0

Checks: >
  -*,
  android-*,
  bugprone-*,
  -bugprone-implicit-widening-of-multiplication-result,
  clang-analyzer-*,
  -clang-analyzer-optin.performance.Padding,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-misleading-capture-default-by-value,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  misc-*,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  performance-*,
  -performance-enum-size,
  portability-*,
  -portability-template-virtual-member-function,
  readability-*,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-convert-member-functions-to-static,
  -readability-redundant-access-specifiers,
  -readability-redundant-inline-specifier,
  -readability-redundant-member-init,

CheckOptions:
  cppcoreguidelines-avoid-do-while.IgnoreMacros: true
  readability-braces-around-statements.ShortStatementLines: 1
