# SPDX-FileCopyrightText: 2015-2023 Alexey Rochev
#
# SPDX-License-Identifier: CC0-1.0

/.cache
/.kdev4
/.vs
/.vscode
/build
/compile_commands.json
/installroot
/out
/RPMS
/vcpkg-installed
*.list
*.user
*.user.*
*.kdev4
