<!--
SPDX-FileCopyrightText: 2015-2025 Alexey Rochev

SPDX-License-Identifier: CC0-1.0
-->
<CPackWiXPatch>
    <CPackWiXFragment Id="#PRODUCTFEATURE">
        <ComponentRef Id="TorrentFileTypeRegistration" />
        <ComponentRef Id="MagnetProtocolRegistration" />
        <ComponentRef Id="FileAssociationRegistration" />
    </CPackWiXFragment>
</CPackWiXPatch>
