[Desktop Entry]
Type=Application
Name=Tremotesf
Categories=Network;P2P;
Icon=org.equeim.Tremotesf
Exec=tremotesf %U
StartupNotify=false
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
