# SPDX-FileCopyrightText: 2015-2023 Alexey Rochev
#
# SPDX-License-Identifier: CC0-1.0

name: Build Tremotesf for Windows

on:
  workflow_call:
    inputs:
      build-with-msvc-clang-toolchain:
        description: Build with MSVC + Clang toolchain
        type: string
        required: true

      release-tag:
        description: Release tag
        type: string
        required: false
        default: ''

jobs:
  build-windows-msvc:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Set up MSVC environment
      uses: equeim/action-setup-msvc-environment@v1

    - name: Set up vcpkg
      uses: equeim/action-setup-vcpkg@v6
      with:
        binary-cache-path: C:\vcpkg_binary_cache
        save-cache: ${{ github.event_name != 'pull_request' && inputs.build-with-msvc-clang-toolchain != 'true' }}

    - name: Build Tremotesf with ${{ inputs.build-with-msvc-clang-toolchain == 'true' && 'MSVC + Clang' || 'MSVC' }} toolchain
      id: build
      uses: equeim/action-cmake-build@v10
      with:
        cmake-arguments: --preset ${{ inputs.build-with-msvc-clang-toolchain == 'true' && 'windows-msvc-clang-vcpkg' || 'windows-msvc-vcpkg' }} -D VCPKG_INSTALLED_DIR=C:/vcpkg_installed
        package: true

    - name: Archive packages
      if: inputs.release-tag == ''
      uses: actions/upload-artifact@v3
      with:
        name: ${{ inputs.build-with-msvc-clang-toolchain == 'true' && 'windows-msvc-clang-packages' || 'windows-msvc-packages' }}
        retention-days: ${{ github.event_name == 'push' && 7 || 3 }}
        path: |
          ${{ steps.build.outputs.build-directory }}\windows-packaging\*.zip
          ${{ steps.build.outputs.build-directory }}\windows-packaging\*.msi

    - name: Upload packages to release
      if: inputs.release-tag != ''
      run: |
        $packages = Get-ChildItem ${{ steps.build.outputs.build-directory }}\windows-packaging\*.zip, ${{ steps.build.outputs.build-directory }}\windows-packaging\*.msi
        echo "Uploading packages $packages"
        gh release upload '${{ inputs.release-tag }}' $packages
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Archive vcpkg logs
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: ${{ inputs.build-with-msvc-clang-toolchain == 'true' && 'windows-msvc-clang-vcpkg-logs' || 'windows-msvc-vcpkg-logs' }}
        retention-days: ${{ github.event_name == 'push' && 7 || 3 }}
        path: ${{ env.VCPKG_ROOT }}\buildtrees\*\*.log
