# SPDX-FileCopyrightText: 2015-2022 Alexey Rochev
#
# SPDX-License-Identifier: CC0-1.0

name: Build Tremotesf for Windows

on:
  workflow_call:
    inputs:
      build-with-clang-cl:
        description: Also build with clang-cl
        type: boolean
        required: false
        default: true

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Set up MSVC environment
      uses: equeim/action-setup-msvc-environment@v1

    - name: Add GNU Tar from MSYS2 to PATH so that zstd will work
      run: |
        mkdir '${{ runner.temp }}\tar'
        echo '"C:\msys64\usr\bin\tar.exe" %*' > '${{ runner.temp }}\tar\tar.bat'
        echo '${{ runner.temp }}\tar' >> '${{ github.path }}'

    - name: Set VCPKG_ROOT environment variable
      run: |
        echo "VCPKG_ROOT=$env:VCPKG_INSTALLATION_ROOT" >> '${{ github.env }}'

    - name: Set up vcpkg
      uses: equeim/action-setup-vcpkg@v4
      with:
        run-install: true
        install-root: C:\vcpkg_installed
        triplet: x64-windows-static
        host-triplet: x64-windows-static
        binary-cache-path: C:\vcpkg_binary_cache
        save-cache: ${{ github.event_name != 'pull_request' }}

    # We don't use matrix here because we want for vcpkg to install dependencies only once

    - name: Build Tremotesf with clang-cl
      id: clang-cl-build
      if: inputs.build-with-clang-cl
      uses: equeim/action-cmake-build@v9
      with:
        cmake-arguments: --preset windows-clang -D VCPKG_MANIFEST_INSTALL=OFF -D VCPKG_INSTALLED_DIR=C:\vcpkg_installed
        output-directories-suffix: -clang-cl

    - name: Remove clang-cl build directories
      if: inputs.build-with-clang-cl
      run: |
        Remove-Item ${{ steps.clang-cl-build.outputs.build-directory-debug }} -Recurse
        Remove-Item ${{ steps.clang-cl-build.outputs.build-directory-release }} -Recurse

    - name: Build Tremotesf with MSVC
      id: build
      uses: equeim/action-cmake-build@v9
      with:
        cmake-arguments: --preset windows -D VCPKG_MANIFEST_INSTALL=OFF -D VCPKG_INSTALLED_DIR=C:\vcpkg_installed
        package: true

    - name: Archive debug packages
      uses: actions/upload-artifact@v3
      with:
        name: tremotesf-win64-debug
        retention-days: ${{ github.event_name == 'push' && github.retention_days || 3 }}
        path: |
          ${{ steps.build.outputs.build-directory-debug }}\packaging\*.zip
          ${{ steps.build.outputs.build-directory-debug }}\packaging\*.msi

    - name: Archive release packages
      uses: actions/upload-artifact@v3
      with:
        name: tremotesf-win64-release
        retention-days: ${{ github.event_name == 'push' && github.retention_days || 3 }}
        path: |
          ${{ steps.build.outputs.build-directory-release }}\packaging\*.zip
          ${{ steps.build.outputs.build-directory-release }}\packaging\*.msi

    - name: Archive vcpkg logs
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: vcpkg-logs
        retention-days: ${{ github.event_name == 'push' && github.retention_days || 3 }}
        path: ${{ env.VCPKG_ROOT }}\buildtrees\*\*.log

    - name: Archive build logs
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: build-logs
        retention-days: ${{ github.event_name == 'push' && github.retention_days || 3 }}
        path: |
          ${{ github.workspace }}\build-*\*.log
          ${{ github.workspace }}\build-*\**\*.log
